In [1]:
import numpy as np
import pandas as pd

In [2]:
teams_df = pd.read_csv('data/womens_prem_teams.csv')
teams_df

   Club ID                           Club
0   175309          ALLIANCE UNITED WOMEN
1   175383                FC LONDON WOMEN
2   175327            GUELPH UNITED WOMEN
3   175403              NDC ONTARIO WOMEN
4   175392     NORTH MISSISSAUGA SC WOMEN
5   175338            NORTH TORONTO WOMEN
6   175359  SIMCOE COUNTY ROVERS FC WOMEN
7   175295          VAUGHAN AZZURRI WOMEN
8   183407          WATERLOO UNITED WOMEN
9   175368      WOODBRIDGE STRIKERS WOMEN

In [3]:
scores_df = pd.read_csv('data/2025-06-28_womens_prem_results.csv')
scores_df

     Match ID  Home result  Away result  Home team  Away team
0   261888691            1            1     183407     175309
1   261888692            2            1     175359     175383
2   261888693            0            9     175392     175403
3   261888694            0            2     175295     175368
4   261888695            3            3     175338     175327
5   261888696            3            0     175403     175309
6   261888697            0            5     175392     175295
7   261888698            2            1     175338     175359
8   261888699            2            4     175368     175327
9   261888700            1            3     183407     175383
10  261888701            2            1     183407     175368
11  261888702            2            0     175359     175403
12  261888703            0            0     175383     175309
13  261888704            6            0     175338     175392
14  261888705            2            0     175295     175327
15  261888706            0            1     175309     175295
16  261888707            0            2     183407     175403
17  261888708            1            2     175368     175359
18  261888709            0            5     175383     175338
19  261888710            2            0     175403     175338
20  261888711            0            1     175383     175295
21  261888712            0            1     175392     183407
22  261888713            3            2     175368     175309
23  261888714            1            4     175327     175359
24  261888715            3            0     175309     175403
25  261888716            1            1     175359     175338
26  261888717            0            0     175383     183407
27  261888718            3            2     175327     175368
28  261888719            1            0     175295     175392
29  261888720            5            3     175403     175327
30  261888721            0            0     175392     175383
31  261888722            5            0     175338     175368
32  261888723            2            0     175359     175309
33  261888724            1            0     183407     175295
34  261888725            3            0     175327     175392
35  261888726            1            4     175327     175338
36  261888727            2            0     175403     175392
37  261888728            0            0     175309     183407
38  261888729            0            2     175383     175359
39  261888730            0            3     175368     175295
40  261888731            1            0     175327     175383
41  261888732            4            0     175403     175368
42  261888733            4            2     175359     183407
43  261888734            5            0     175338     175295
44  261888735            2            1     175392     175309
45  261888736            0            2     175338     175403
46  261888737            1            1     175309     175368
47  261888738            2            0     175295     175383
48  261888739            2            0     175359     175327
49  261888740            2            0     183407     175392
50  261888741            2            2     175359     175368
51  261888742            1            0     175295     175309
52  261888743            1            0     175403     183407
53  261888744            1            0     175338     175383
54  261888745            1            0     175392     175327
55  261888747            1            2     175327     175403

In [4]:
teams_list = teams_df.to_numpy()

def findTeamIndex(team_id, teams):
  for index, team in enumerate(teams):
    if team[0] == team_id:
      return index

def buildScoresArray(matches):
  rows = []
  for match in matches:
    row = [0] * len(teams_df.values)
    if match[1] >= match[2]:
      row[findTeamIndex(match[3], teams_list)] = 1
      row[findTeamIndex(match[4], teams_list)] = -1
      rows.append(row)
    else:
      row[findTeamIndex(match[4], teams_list)] = 1
      row[findTeamIndex(match[3], teams_list)] = -1
      rows.append(row)
  return rows

X = np.array(buildScoresArray(scores_df.to_numpy()))
X

array([[-1,  0,  0,  0,  0,  0,  0,  0,  1,  0],
       [ 0, -1,  0,  0,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  1, -1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0, -1,  0,  1],
       [ 0,  0, -1,  0,  0,  1,  0,  0,  0,  0],
       [-1,  0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, -1,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  1, -1,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0, -1],
       [ 0,  1,  0,  0,  0,  0,  0,  0, -1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  1, -1],
       [ 0,  0,  0, -1,  0,  0,  1,  0,  0,  0],
       [-1,  1,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, -1,  1,  0,  0,  0,  0],
       [ 0,  0, -1,  0,  0,  0,  0,  1,  0,  0],
       [-1,  0,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0, -1,  0],
       [ 0,  0,  0,  0,  0,  0,  1,  0,  0, -1],
       [ 0, -1,  0,  0,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0, -1,  0,  0,  0,  0],
       [ 0, -1,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0, -1,  0,  0,  0,  1,  0],
       [-1,  0,  0,  0,  0,  0,  0,  0,  0,  1],
       [ 0,  0, -1,  0,  0,  0,  1,  0,  0,  0],
       [ 1,  0,  0, -1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0, -1,  1,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  0, -1,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0, -1],
       [ 0,  0,  0,  0, -1,  0,  0,  1,  0,  0],
       [ 0,  0, -1,  1,  0,  0,  0,  0,  0,  0],
       [ 0, -1,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  1,  0,  0,  0, -1],
       [-1,  0,  0,  0,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0, -1,  1,  0],
       [ 0,  0,  1,  0, -1,  0,  0,  0,  0,  0],
       [ 0,  0, -1,  0,  0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  1, -1,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0, -1,  0],
       [ 0, -1,  0,  0,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  0, -1],
       [ 0, -1,  1,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0,  0, -1],
       [ 0,  0,  0,  0,  0,  0,  1,  0, -1,  0],
       [ 0,  0,  0,  0,  0,  1,  0, -1,  0,  0],
       [-1,  0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0, -1,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0, -1],
       [ 0, -1,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0, -1,  0,  0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  0, -1,  0,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  1,  0,  0, -1],
       [-1,  0,  0,  0,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0, -1,  0],
       [ 0, -1,  0,  0,  0,  1,  0,  0,  0,  0],
       [ 0,  0, -1,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0, -1,  1,  0,  0,  0,  0,  0,  0]])

In [5]:
teams = teams_df['Club'].tolist()
match_ids = scores_df['Match ID'].tolist()

X_df = pd.DataFrame(X, index=match_ids, columns=teams)
print(X_df.to_string())

           ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WATERLOO UNITED WOMEN  WOODBRIDGE STRIKERS WOMEN
261888691                     -1                0                    0                  0                           0                    0                              0                      0                      1                          0
261888692                      0               -1                    0                  0                           0                    0                              1                      0                      0                          0
261888693                      0                0                    0                  1                          -1                    0                              0                      0                      0                          0
261888694                      0                0                    0                  0                           0                    0                              0                     -1                      0                          1
261888695                      0                0                   -1                  0                           0                    1                              0                      0                      0                          0
261888696                     -1                0                    0                  1                           0                    0                              0                      0                      0                          0
261888697                      0                0                    0                  0                          -1                    0                              0                      1                      0                          0
261888698                      0                0                    0                  0                           0                    1                             -1                      0                      0                          0
261888699                      0                0                    1                  0                           0                    0                              0                      0                      0                         -1
261888700                      0                1                    0                  0                           0                    0                              0                      0                     -1                          0
261888701                      0                0                    0                  0                           0                    0                              0                      0                      1                         -1
261888702                      0                0                    0                 -1                           0                    0                              1                      0                      0                          0
261888703                     -1                1                    0                  0                           0                    0                              0                      0                      0                          0
261888704                      0                0                    0                  0                          -1                    1                              0                      0                      0                          0
261888705                      0                0                   -1                  0                           0                    0                              0                      1                      0                          0
261888706                     -1                0                    0                  0                           0                    0                              0                      1                      0                          0
261888707                      0                0                    0                  1                           0                    0                              0                      0                     -1                          0
261888708                      0                0                    0                  0                           0                    0                              1                      0                      0                         -1
261888709                      0               -1                    0                  0                           0                    1                              0                      0                      0                          0
261888710                      0                0                    0                  1                           0                   -1                              0                      0                      0                          0
261888711                      0               -1                    0                  0                           0                    0                              0                      1                      0                          0
261888712                      0                0                    0                  0                          -1                    0                              0                      0                      1                          0
261888713                     -1                0                    0                  0                           0                    0                              0                      0                      0                          1
261888714                      0                0                   -1                  0                           0                    0                              1                      0                      0                          0
261888715                      1                0                    0                 -1                           0                    0                              0                      0                      0                          0
261888716                      0                0                    0                  0                           0                   -1                              1                      0                      0                          0
261888717                      0                1                    0                  0                           0                    0                              0                      0                     -1                          0
261888718                      0                0                    1                  0                           0                    0                              0                      0                      0                         -1
261888719                      0                0                    0                  0                          -1                    0                              0                      1                      0                          0
261888720                      0                0                   -1                  1                           0                    0                              0                      0                      0                          0
261888721                      0               -1                    0                  0                           1                    0                              0                      0                      0                          0
261888722                      0                0                    0                  0                           0                    1                              0                      0                      0                         -1
261888723                     -1                0                    0                  0                           0                    0                              1                      0                      0                          0
261888724                      0                0                    0                  0                           0                    0                              0                     -1                      1                          0
261888725                      0                0                    1                  0                          -1                    0                              0                      0                      0                          0
261888726                      0                0                   -1                  0                           0                    1                              0                      0                      0                          0
261888727                      0                0                    0                  1                          -1                    0                              0                      0                      0                          0
261888728                      1                0                    0                  0                           0                    0                              0                      0                     -1                          0
261888729                      0               -1                    0                  0                           0                    0                              1                      0                      0                          0
261888730                      0                0                    0                  0                           0                    0                              0                      1                      0                         -1
261888731                      0               -1                    1                  0                           0                    0                              0                      0                      0                          0
261888732                      0                0                    0                  1                           0                    0                              0                      0                      0                         -1
261888733                      0                0                    0                  0                           0                    0                              1                      0                     -1                          0
261888734                      0                0                    0                  0                           0                    1                              0                     -1                      0                          0
261888735                     -1                0                    0                  0                           1                    0                              0                      0                      0                          0
261888736                      0                0                    0                  1                           0                   -1                              0                      0                      0                          0
261888737                      1                0                    0                  0                           0                    0                              0                      0                      0                         -1
261888738                      0               -1                    0                  0                           0                    0                              0                      1                      0                          0
261888739                      0                0                   -1                  0                           0                    0                              1                      0                      0                          0
261888740                      0                0                    0                  0                          -1                    0                              0                      0                      1                          0
261888741                      0                0                    0                  0                           0                    0                              1                      0                      0                         -1
261888742                     -1                0                    0                  0                           0                    0                              0                      1                      0                          0
261888743                      0                0                    0                  1                           0                    0                              0                      0                     -1                          0
261888744                      0               -1                    0                  0                           0                    1                              0                      0                      0                          0
261888745                      0                0                   -1                  0                           1                    0                              0                      0                      0                          0
261888747                      0                0                   -1                  1                           0                    0                              0                      0                      0                          0

In [6]:
print(X_df.T.to_string())

                               261888691  261888692  261888693  261888694  261888695  261888696  261888697  261888698  261888699  261888700  261888701  261888702  261888703  261888704  261888705  261888706  261888707  261888708  261888709  261888710  261888711  261888712  261888713  261888714  261888715  261888716  261888717  261888718  261888719  261888720  261888721  261888722  261888723  261888724  261888725  261888726  261888727  261888728  261888729  261888730  261888731  261888732  261888733  261888734  261888735  261888736  261888737  261888738  261888739  261888740  261888741  261888742  261888743  261888744  261888745  261888747
ALLIANCE UNITED WOMEN                 -1          0          0          0          0         -1          0          0          0          0          0          0         -1          0          0         -1          0          0          0          0          0          0         -1          0          1          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0         -1          0          1          0          0          0          0         -1          0          0          0          0
FC LONDON WOMEN                        0         -1          0          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0         -1          0         -1          0          0          0          0          0          1          0          0          0         -1          0          0          0          0          0          0          0         -1          0         -1          0          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0
GUELPH UNITED WOMEN                    0          0          0          0         -1          0          0          0          1          0          0          0          0          0         -1          0          0          0          0          0          0          0          0         -1          0          0          0          1          0         -1          0          0          0          0          1         -1          0          0          0          0          1          0          0          0          0          0          0          0         -1          0          0          0          0          0         -1         -1
NDC ONTARIO WOMEN                      0          0          1          0          0          1          0          0          0          0          0         -1          0          0          0          0          1          0          0          1          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          0          1          0          0          0          1          0          0          0          0          0          0          1          0          0          1
NORTH MISSISSAUGA SC WOMEN             0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          0          0         -1          0          1          0          0          0         -1          0         -1          0          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          1          0
NORTH TORONTO WOMEN                    0          0          0          0          1          0          0          1          0          0          0          0          0          1          0          0          0          0          1         -1          0          0          0          0          0         -1          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0          0          0          1          0         -1          0          0          0          0          0          0          0          1          0          0
SIMCOE COUNTY ROVERS FC WOMEN          0          1          0          0          0          0          0         -1          0          0          0          1          0          0          0          0          0          1          0          0          0          0          0          1          0          1          0          0          0          0          0          0          1          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0          1          0          1          0          0          0          0          0
VAUGHAN AZZURRI WOMEN                  0          0          0         -1          0          0          1          0          0          0          0          0          0          0          1          1          0          0          0          0          1          0          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          0          1          0          0          0         -1          0          0          0          1          0          0          0          1          0          0          0          0
WATERLOO UNITED WOMEN                  1          0          0          0          0          0          0          0          0         -1          1          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          0          0          1          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          1          0          0         -1          0          0          0
WOODBRIDGE STRIKERS WOMEN              0          0          0          1          0          0          0          0         -1          0         -1          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0          0         -1          0         -1          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0

In [7]:
M = (X.T).dot(X)
M_df = pd.DataFrame(M, index=teams, columns=teams)
print(M_df.to_string())

                               ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WATERLOO UNITED WOMEN  WOODBRIDGE STRIKERS WOMEN
ALLIANCE UNITED WOMEN                             11               -1                    0                 -2                          -1                    0                             -1                     -2                     -2                         -2
FC LONDON WOMEN                                   -1               11                   -1                  0                          -1                   -2                             -2                     -2                     -2                          0
GUELPH UNITED WOMEN                                0               -1                   12                 -2                          -2                   -2                             -2                     -1                      0                         -2
NDC ONTARIO WOMEN                                 -2                0                   -2                 12                          -2                   -2                             -1                      0                     -2                         -1
NORTH MISSISSAUGA SC WOMEN                        -1               -1                   -2                 -2                          11                   -1                              0                     -2                     -2                          0
NORTH TORONTO WOMEN                                0               -2                   -2                 -2                          -1                   11                             -2                     -1                      0                         -1
SIMCOE COUNTY ROVERS FC WOMEN                     -1               -2                   -2                 -1                           0                   -2                             11                      0                     -1                         -2
VAUGHAN AZZURRI WOMEN                             -2               -2                   -1                  0                          -2                   -1                              0                     11                     -1                         -2
WATERLOO UNITED WOMEN                             -2               -2                    0                 -2                          -2                    0                             -1                     -1                     11                         -1
WOODBRIDGE STRIKERS WOMEN                         -2                0                   -2                 -1                           0                   -1                             -2                     -2                     -1                         11

In [8]:
# build GD array

def buildGDArray(matches, teams):
  gd_list = []
  for team in teams:
    gd = 0
    for match in matches:
      if team[0] == match[3]:
        gd += (match[1] - match[2])
      if team[0] == match[4]:
        gd += (match[2] - match[1])
    gd_list.append([gd])
  return gd_list

p = np.array(buildGDArray(scores_df.to_numpy(), teams_df.to_numpy()))
p

array([[ -6],
       [-11],
       [ -7],
       [ 23],
       [-27],
       [ 22],
       [ 14],
       [  8],
       [ -2],
       [-14]])

In [9]:
M_bar = M.copy()
M_bar[-1,:] = np.ones(M.shape[0])
M_bar
M_bar_df = pd.DataFrame(M_bar, index=teams, columns=teams)
print(M_bar_df.to_string())

                               ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WATERLOO UNITED WOMEN  WOODBRIDGE STRIKERS WOMEN
ALLIANCE UNITED WOMEN                             11               -1                    0                 -2                          -1                    0                             -1                     -2                     -2                         -2
FC LONDON WOMEN                                   -1               11                   -1                  0                          -1                   -2                             -2                     -2                     -2                          0
GUELPH UNITED WOMEN                                0               -1                   12                 -2                          -2                   -2                             -2                     -1                      0                         -2
NDC ONTARIO WOMEN                                 -2                0                   -2                 12                          -2                   -2                             -1                      0                     -2                         -1
NORTH MISSISSAUGA SC WOMEN                        -1               -1                   -2                 -2                          11                   -1                              0                     -2                     -2                          0
NORTH TORONTO WOMEN                                0               -2                   -2                 -2                          -1                   11                             -2                     -1                      0                         -1
SIMCOE COUNTY ROVERS FC WOMEN                     -1               -2                   -2                 -1                           0                   -2                             11                      0                     -1                         -2
VAUGHAN AZZURRI WOMEN                             -2               -2                   -1                  0                          -2                   -1                              0                     11                     -1                         -2
WATERLOO UNITED WOMEN                             -2               -2                    0                 -2                          -2                    0                             -1                     -1                     11                         -1
WOODBRIDGE STRIKERS WOMEN                          1                1                    1                  1                           1                    1                              1                      1                      1                          1

In [10]:
p_bar = p
p_bar[-1] = 0
p_bar
p_bar_df = pd.DataFrame(p_bar, index=teams, columns=['GD'])
print(p_bar_df.to_string())

                               GD
ALLIANCE UNITED WOMEN          -6
FC LONDON WOMEN               -11
GUELPH UNITED WOMEN            -7
NDC ONTARIO WOMEN              23
NORTH MISSISSAUGA SC WOMEN    -27
NORTH TORONTO WOMEN            22
SIMCOE COUNTY ROVERS FC WOMEN  14
VAUGHAN AZZURRI WOMEN           8
WATERLOO UNITED WOMEN          -2
WOODBRIDGE STRIKERS WOMEN       0

In [11]:
r = np.linalg.inv(M_bar).dot(p_bar)
r

array([[-0.61684206],
       [-0.73332473],
       [-0.2951583 ],
       [ 1.70733477],
       [-2.20832513],
       [ 2.0941035 ],
       [ 1.36270629],
       [ 0.04090881],
       [-0.47084186],
       [-0.88056128]])

In [12]:
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                               Massey Rating
NORTH TORONTO WOMEN                 2.094103
NDC ONTARIO WOMEN                   1.707335
SIMCOE COUNTY ROVERS FC WOMEN       1.362706
VAUGHAN AZZURRI WOMEN               0.040909
GUELPH UNITED WOMEN                -0.295158
WATERLOO UNITED WOMEN              -0.470842
ALLIANCE UNITED WOMEN              -0.616842
FC LONDON WOMEN                    -0.733325
WOODBRIDGE STRIKERS WOMEN          -0.880561
NORTH MISSISSAUGA SC WOMEN         -2.208325